body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;

}

article {
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 8rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login {
    width: 35rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: solid 1px rgb(225, 225, 225);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form {
    max-width: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login .form {
    text-align: center;
}

.login .form #email,
#senha {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border: solid 1px rgb(225, 225, 225);
    border-radius: 2px;
}

.login .form #entrar {
    width: 100%;
    padding: 0.8rem 0 0.8rem 0.8rem;
    background-color: #0095f6;
    border: solid 1px rgb(225, 225, 225);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
    border-radius: 5px;
}

.login .divisao {
    width: 100%;
    margin: 2rem 0;
}

.login .entrar-com {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login .entrar-com a {
    margin-left: 0.5rem;
    color: #3B5998;
    font-size: 1.3rem;
    font-weight: 600;
    font-stretch: ultra-condensed;
    text-decoration: none;
}

.login .esqueceu-senha{
    margin-bottom: 2rem;
}

.login .esqueceu-senha a {
    color: #3B5998;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.cadastro {
    width: 100%-1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: solid 1px rgb(225, 225, 225);
    background-color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
}

.cadastro a {
    color: #0095f6;
    font-weight: 800;
    text-decoration: none;
}

.obtenha-app {
    width: 100%;
    text-align: center;
}
.obtenha-app p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}